@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --foreground: #110f10;
}
body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.fixedClass {
  width: fit-content;
  margin: 20px auto;
  border-radius: 9999px;
  background: #242223 !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mask {
  position: fixed;
  z-index: 9999999;
  top: -70px;
  overflow: visible;
  /* mask-size: 40px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  width: 100%;
  mask-repeat: no-repeat;
  mask-image: url("/ellipse.svg");
  background: #14aff1;
}
@media screen and (max-width: 330px) {
  .hero-text {
    font-size: 50px;
  }
}
@media screen and (max-width: 285px) {
  .hero-text {
    font-size: 45px;
  }
}
