@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --foreground: #110f10;
}
body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.fixedClass {
  width: fit-content;
  margin: 20px auto;
  border-radius: 9999px;
  background: #242223 !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
